#svgMap {
    width: 50%;
    height: 200px;
    margin: 0px 200px;
    margin-bottom: 700px;
    position: relative;
    /* border: 2px solid brown;
    border-radius: 15px; */
    z-index: 2;
}

.svg-map .no-data-text {
    font-style: italic;
    color: #666;
}

.svg-map-wrapper {
    position: inherit;
}